{% extends "eleccion/base.html" %}

    {% block content %}
    	<h1>Circunscripción</h1>

        {% if user.is_authenticated %}
			<a href="crear/">Añadir Circunscripción</a>
		{% endif %}

		{% for x in object_list %}
			<ul>
				<li><small><a href="{% url 'circunscripcion_detalle_url' x.id %}">Circunscripción: </small><strong>{{ x.nombre }}</strong></li></a>
				<li><small>Escaños: </small> <strong>{{ x.nEscanos }}</strong></li>				
				<hr>
			</ul>
		{% empty %}
    			<li>No hay circunscripciones aún.</li>
		{% endfor %}
    {% endblock %}