{% extends "eleccion/base.html" %}

    {% block content %}

    	<div class="row">
        	<div class="col-md-9">	
				<h1 class="page-header">Vista Detallada de Mesa</h1>
				
				{% if mesa %}

					{{ mesa.id }}{{ mesa.nombre }}{{ mesa.circunscripcion }}{{ mesa.pk }}

					<p>Nombre de la Mesa:  <strong style="font-size:24px"> {{ mesa.nombre }}</strong></p>
					<p>Circunscripcion de la Mesa:  <strong style="font-size:24px">{{ mesa.circunscripcion }} </strong></p>

	  				<div class="col-md-4">
				    	{% if user.is_authenticated %}
							<a href="" class="btn btn-default">Editar</a>
							<a href="" class="btn btn-danger" style="float:right">Eliminar</a>
						{% endif %}
					</div>

				{% else %}
					<p>La Mesa que se ha enlazado <strong>NO</strong> existe</p>
				{% endif %}
			</div>

		</div>
    {% endblock %}